@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
body {
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  padding-top: 2.1rem; }

.resumes {
  width: 80vw;
  margin: 0 auto;
  text-align: center; }

.resumes a {
  text-decoration: none; }

.resume-container {
  text-align: left;
  display: inline-block;
  background: white;
  margin: 8px;
  box-shadow: 0px 0px 3px #3282b88c;
  padding: 16px;
  position: relative; }

.resume-container .resume-name {
  margin-bottom: 10px; }

.resume-container .resume-name label {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 0px;
  padding: 0px; }

.resume-container .image-container {
  border: 1.5px solid rgba(66, 61, 61, 0.3);
  padding: 0px;
  margin: 0px;
  height: 272px;
  width: 200px;
  background-size: cover;
  background-origin: border-box;
  display: inline-block; }

.resume-container .resume-info {
  margin-top: 4px;
  width: 100%; }

.resume-container .resume-info label {
  font-family: "Montserrat";
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0px;
  display: inline-block;
  vertical-align: middle; }

.resume-container .resume-download__icon {
  height: 1.3rem;
  display: inline-block;
  margin: 0px 4px; }

.resume-container .resume-download__icon #Capa_1 {
  display: inline-block;
  height: 80%; }

.resume-container #heart {
  position: absolute;
  width: 24px;
  right: 16px;
  bottom: 10px;
  cursor: pointer; }

.resume-container #heart g path:nth-child(1) {
  fill: white; }

@media (max-width: 40rem) {
  .resumes {
    width: 100%; }
  .resume-container .image-container {
    width: 30vw;
    height: calc( 30vw * 1.36);
    max-width: 200px;
    /* min-width: 155px; */
    /* min-height:210px; */ } }

@media (max-width: 26.25rem) {
  .resumes {
    width: 100vw; }
  .resume-container .image-container {
    width: 70vw;
    height: calc( 70vw * 1.36);
    max-width: 200px;
    min-width: 155px;
    max-height: 272px; } }
